</main>
<footer>
    <p>Littérama © <%= new Date().getFullYear() %> Tous droits réservés</p>
    <p><a href="">Conditions d'utilisation</a> | <a href="">Politiques de confidentialité</a></p>
</footer>

</body>
</html>