<%- include("partials/header.ejs") %>
<title>À propos | Littérama</title>

<div class="content">
    <h1 class="about-title">À propos de Littérama</h1>
    <h3 class="about-subtitle">Un retour dans le passé</h3>

    <!--Mission, valeurs, etc.-->

    <div class="about first-section">

    </div>
    <div class="about second-section">

    </div>
</div>




<%- include("partials/footer.ejs") %>