<%- include("partials/header.ejs") %>
<title>Contactez-nous | Littérama</title>

<div class="content">
    <div class="contact form">
        <p class="contact-title">Contactez-nous</p>
        <form action="mailto:litteramamedia@gmail.com" method="post" enctype="text/plain">

        </form>

    </div>
    <div class="contacts">
        <p>Renseignements généraux</p>
    </div>
</div>




<%- include("partials/footer.ejs") %>