<%- include("partials/header.ejs") %>
<title>Accueil | Littérama</title>

<div class="content">
    <div class="hero">
        <img src="/images/hero_image.png" alt="hero_image_litterama">
        <div class="textbox-container">
            <div class="textbox inner">
                <h1>Découvrez l'univers littéraire sous un nouveau jour</h1>
                <p>Notre contribution pour faire prospérer l'industrie à travers l'ère numérique</p>
            </div>
            <div class="button">
                <button type="button">En savoir plus</button>
            </div>
        </div> 
    </div>
</div>



<%- include("partials/footer.ejs") %>