<%- include("partials/header.ejs") %>
<title>Accueil | Littérama</title>

<div class="content">
    <div class="hero">
        <div class="textbox-hero">
            <h1 class="hero-title">Bienvenue sur Littérama</h1>
            <h2 class="hero-subtitle">À l'intérieur de l'industrie du livre</h2>
        </div> 
    </div>
</div>



<%- include("partials/footer.ejs") %>