<%- include("partials/header.ejs") %>
<title><%= t("ome_title") %> | Littérama</title>

<div class="content">
    <div class="hero-section">
        <div></div>
        <video src="/videos/hero_video.mp4" loop="true" autoplay></video>
        <div class="textbox">
            <div class="textbox-inner">
            <h1 class="hero-title">Découvrez l'univers littéraire sous un nouveau jour</h1>
            <p style="font-size: 1.3rem;">Il est temps de faire prospérer l'industrie littéraire à travers l'ère numérique</p>
        </div>
        </div>
        

    </div>
    <div class="second-section">
        <h2></h2>
        <br>
        <p style="font-style: italic;">« Alors que le numérique ouvre les frontières, l'enjeu majeur pour l'industrie du livre est celui de la découvrabilité, soit le fait d'être visible, distinctif et reconnu sur internet. »</p>
        <br>
        <p style="font-style: italic;">- Association nationale des éditeurs de livres</p>
    </div>

</div>



<%- include("partials/footer.ejs") %>