<%- include("partials/header.ejs") %>
<title><%= t('privacy.title') %> | Littérama</title>

<div class="content" style="padding: 10px;">

    <div id="outputPage" class="ContractText" style="margin: 30px;">
        <div class="format-html">
    <div data-exp="simple2" class="outputVersion1">
        <div><div>
<p style="text-align:center;"><strong>Politique de confidentialité de www.litterama.ca</strong><br><br>Type de site&nbsp;: Site vitrine<br>Date d'entrée en vigueur : 7 janvier 2025
</p></div>
<p style="text-align:left;">www.litterama.ca (le "Site") est détenu et exploité par Littérama. Littérama est le contrôleur des données et peut être contacté a cette adresse : <br><br>litteramamedia@gmail.com<br>
</p><div>
<p style="text-align:left;"><strong><u>Finalité</u></strong><br>Le but de cette politique de confidentialité (la "Politique de confidentialité") est d'informer les utilisateurs de notre Site de ce qui suit :
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><span>Les données personnelles que nous collecterons</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="2"><span>L’utilisation des données collectées</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="3"><span>Qui a accès aux données collectées</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="4"><span>Les droits des utilisateurs du Site</span><br>
    </li>
    <li style="margin-bottom:0.0pt;" value="5"><span>La politique de cookies du Site</span><br>
    </li>
</ol>
<p style="text-align:left;">Cette Politique de confidentialité s'applique en plus des conditions générales d’utilisation de notre Site.
</p></div><div>
<p style="text-align:left;"><strong><u>RGPD</u></strong><br>Pour les utilisateurs de l'Union européenne ("UE"), nous adhérons au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, connu sous le nom de Règlement général sur la protection des données (le "RGPD"). Pour les utilisateurs du Royaume-Uni, nous adhérons au RGPD tel qu'il est inscrit dans la loi sur la protection des données de 2018.<br><br>Nous n'avons pas désigné d'agent à la protection des données car nous n'appartenons pas aux catégories de responsables du traitement et de sous-traitants tenus de désigner un agent à la protection des données en vertu de l'article 37 du RGPD. 
</p></div><div>
<p style="text-align:left;"><strong><u>Consentement</u></strong><br>Les utilisateurs conviennent qu’en utilisant notre Site, ils consentent à ce qui suit :
</p>
<ol start="1" class=" list-style-type-lower-alpha" style="list-style:lower-alpha;">
    <li style="margin-bottom:0.0pt;" value="1"><span>les conditions énoncées dans la présente Politique de confidentialité</span><br>
    </li>
</ol>
<p style="text-align:left;">Lorsque la base juridique du traitement de vos données à caractère personnel est que vous avez donné votre consentement à ce traitement, vous pouvez le retirer à tout moment. Si vous retirez votre consentement, cela ne rendra pas illégal le traitement que nous avons effectué avant que vous ne retiriez votre consentement.
</p>
<p style="text-align:left;">Vous pouvez retirer votre consentement en procédant comme suit : Via the cookie consent form.
</p></div><div>
<p style="text-align:left;"><strong><u>Base juridique du traitement</u></strong><br>Nous collectons et traitons les données personnelles des utilisateurs de l'UE uniquement lorsque nous disposons d'une base légale pour le faire en vertu de l'article 6 du RGPD. <br><br>Nous nous appuyons sur la base juridique suivante pour collecter et traiter les données personnelles des utilisateurs de l'UE :
</p>
<ol start="1">
    <li value="1"><span>Les utilisateurs ont donné leur consentement au traitement de leurs données pour une ou plusieurs finalités spécifiques.</span><br>
    </li>
</ol></div><div>
<p style="text-align:left;"><strong><u>Données personnelles que nous collectons</u></strong><br>Nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette Politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.<br>
</p><div><div>
<p style="text-align:left;"><u>Données collectées automatiquement</u><br>Lorsque vous visitez et utilisez notre Site, nous pouvons automatiquement collecter et conserver les renseignements suivants :
</p>
<ol start="1" class=" list-style-type-lower-alpha" style="list-style:lower-alpha;">
    <li style="margin-bottom:0.0pt;" value="1"><span>Lieu.</span><br>
    </li>
</ol></div><div>
<p style="text-align:left;"><u>Données collectées de façon non automatique</u><br>Nous pouvons également collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre Site&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><span>Prénom et nom;</span><br>
    </li>
    <li style="margin-bottom:0.0pt;" value="2"><span>Courriel.</span><br>
    </li>
</ol>
<p style="text-align:left;">Ces données peuvent être collectées au moyen des méthodes suivantes&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:0.0pt;" value="1"><span>Formulaire pour nous contacter.</span><br>
    </li>
</ol></div></div></div><div>
<p style="text-align:left;"><strong><u>Comment nous utilisons les données personnelles</u></strong><br>Les données personnelles collectées sur notre Site seront utilisées uniquement aux fins précisées dans la présente Politique de confidentialité ou indiquées sur les pages pertinentes de notre Site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguons dans la présente Politique de confidentialité.
</p><div>
<p style="text-align:left;">Les données que nous collectons automatiquement sont utilisées aux fins suivantes&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><span>Langue du site;</span><br>
    </li>
    <li style="margin-bottom:0.0pt;" value="2"><span>Statistiques.</span><br>
    </li>
</ol></div><div>
<p style="text-align:left;">Les données que nous collections lorsque l’utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:0.0pt;" value="1"><span>Pour la communication.</span><br>
    </li>
</ol></div></div><div><div>
<p style="text-align:left;"><strong><u>Avec qui nous partageons les données personnelles</u></strong><br><u>Employés</u><br>Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la présente Politique de confidentialité.
</p></div><div>
<p style="text-align:left;"><u>Autres divulgations</u><br>Nous ne vendrons ni ne partageons vos données avec aucun &nbsp;tiers, sauf dans les cas suivants&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><span>Si la loi l'exige;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="2"><span>Si cela est requis pour toute procédure judiciaire;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="3"><span>Pour prouver ou protéger nos droits; et</span><br>
    </li>
    <li style="margin-bottom:0.0pt;" value="4"><span>À des acheteurs ou des acheteurs potentiels de cette société dans le cas où nous cherchons à vendre la société.</span><br>
    </li>
</ol>
<p style="text-align:left;">Si vous suivez des liens hypertexte de notre Site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.
</p></div></div><div>
<p style="text-align:left;"><strong><u>Combien de temps nous stockons les données personnelles</u></strong><br>Les données des utilisateurs ne seront pas conservées au-delà de ce qui est nécessaire pour atteindre les fins pour lesquelles elles ont recueillies.<br><br>Nous veillerons à vous aviser si vos données sont conservées pour une durée plus importante.
</p></div><div>
<p style="text-align:left;"><strong><u>Comment nous protégeons vos données personnelles</u></strong><br>Nous prenons la sécurité de vos données très au sérieux. Pour protéger vos informations personnelles, nous utilisons un chiffrement conforme aux normes de l’industrie pour les données au repos et en transit. L'accès à notre base de données est sécurisé par des protocoles d'authentification robustes, y compris le contrôle d'accès basé sur les rôles (RBAC) et l'authentification multi-facteurs (MFA). Nous limitons également l'accès par filtrage des adresses IP et sécurisons notre réseau à l'aide de pare-feu et de VPN. Des sauvegardes régulières sont effectuées et chiffrées, et nous maintenons des journaux d'audit pour suivre les activités. Notre système est constamment mis à jour avec les derniers correctifs de sécurité, et nous nous assurons que toutes les entrées des utilisateurs sont validées pour prévenir tout accès non autorisé. En suivant ces bonnes pratiques, nous nous engageons à protéger vos données contre tout accès, divulgation ou perte non autorisés.
</p></div>
<p style="text-align:left;"><strong><u>Vos droits en tant qu'utilisateur</u></strong><br>En vertu du RGPD, vous disposez des droits suivants :
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><span>Droit d'être informé;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="2"><span>Droit d'accès;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="3"><span>Droit de rectification;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="4"><span>Droit à l'effacement;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="5"><span>Droit de restreindre le traitement;</span><br>
    </li>
    <li style="margin-bottom:18.0pt;" value="6"><span>Droit à la portabilité des données; et</span><br>
    </li>
    <li style="margin-bottom:0.0pt;" value="7"><span>Droit d'opposition.</span><br>
    </li>
</ol><div>
<p style="text-align:left;"><strong><u>Mineurs</u></strong><br>Nous ne collectons ni n'utilisons sciemment les données personnelles d'enfants de moins de 16 ans. Si nous apprenons que nous avons collecté des données à caractère personnel auprès d'un enfant de moins de 16 ans, ces données personnelles seront supprimées dès que possible. Si un enfant de moins de 16 ans nous a fourni des données personnelles, ses parents ou son tuteur peuvent contacter notre privacy officer.
</p></div><div>
<p style="text-align:left;"><strong><u>Comment modifier, supprimer ou contester les données collectées</u></strong><br>Si vous souhaitez savoir si nous avons collecté vos données personnelles, comment nous les avons utilisées, si nous les avons divulguées et à qui nous les avons divulguées, si vous souhaitez que vos données soient supprimées ou modifiées de quelque manière que ce soit, ou si vous souhaitez exercer l'un de vos autres droits en vertu du RGPD, veuillez contacter nous contacter:<br><a href="mailto:litteramamedia@gmail.com" style="color: black;">litteramamedia@gmail.com</a>
</p></div><div>
<p style="text-align:left;"><strong><u>Avis de ne pas me suivre (</u></strong><em><strong><u>Do Not Track</u></strong></em><strong><u>)</u></strong><br><em>Do Not Track</em> est une préférence en matière de protection de la vie privée que vous pouvez définir dans certains navigateurs web. Nous ne suivons pas les utilisateurs de notre Site dans le temps et sur les sites web de tiers et ne répondons donc pas aux signaux <em>Do Not Track</em> émis par les navigateurs.
</p></div><div>
<p style="text-align:left;"><strong><u>Comment refuser la collecte, l'utilisation ou la divulgation des données</u></strong><br>En plus de la ou des méthodes décrites dans la section <em>Comment modifier, supprimer ou contester les données recueillies</em>, nous proposons les méthodes d'exclusion spécifiques suivantes pour les formes de collecte, d'utilisation ou de divulgation de vos données à caractère personnel :
</p>
<ol start="1">
    <li value="1"><span>Vous pouvez vous désinscrire de l’utilisation de vos données personnelles pour les emails marketing. Pour cela, il vous suffit de cliquer sur "se désabonner" au bas de tout email marketing.</span><br>
    </li>
</ol></div><div>
<p style="text-align:left;"><strong><u>Politique sur les cookies</u></strong><br>Un cookie est un petit fichier, stocké sur le disque dur d’un utilisateur par le Site Web. Son but est de recueillir des données relatives aux habitudes de navigation de l’utilisateur. Vous pouvez choisir d'être averti chaque fois qu'un cookie est transmis. Vous pouvez également choisir de désactiver entièrement les cookies dans votre navigateur Internet, mais cela peut diminuer la qualité de votre expérience d'utilisateur.
</p>
<p style="text-align:left;">Nous utilisons les types de cookies suivants sur notre Site&nbsp;:
</p>
<ol start="1" class=" list-style-type-decimal" style="list-style:decimal;">
    <li style="margin-bottom:18.0pt;" value="1"><u><span>Cookies fonctionnels</span></u><br>Les cookies fonctionnels sont utilisés pour mémoriser les sélections que vous faites sur notre Site, de sorte que vos sélections soient sauvegardées lors de vos prochaines visites; et<br>
    </li>
    <li style="margin-bottom:0.0pt;" value="2"><u><span>Cookies analytiques</span></u><br>Les cookies analytiques nous permettent d'améliorer la conception et la fonctionnalité de notre Site en collectant des données sur la manière dont vous accédez à notre Site, par exemple des données sur le contenu auquel vous accédez, la durée de votre visite sur notre Site, etc..<br>
    </li>
</ol></div><div>
<p style="text-align:left;"><strong><u>Modifications</u></strong><br>Cette Politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Lorsque nous modifions la présente Politique de confidentialité, nous mettons à jour la "Date d'entrée en vigueur" qui figure en haut de la présente Politique de confidentialité. Nous recommandons à nos utilisateurs de vérifier notre Politique de confidentialité de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette Politique de confidentialité.
</p></div>
<p style="text-align:left;"><strong><u>Plaintes</u></strong><br>Si vous avez des réclamations concernant la manière dont nous traitons vos données à caractère personnel, veuillez nous contacter par l'intermédiaire des méthodes de contact indiquées dans la section <em>Contact</em> afin que nous puissions, dans la mesure du possible, résoudre le problème. Si vous estimez que nous n'avons pas répondu à votre préoccupation de manière satisfaisante, vous pouvez contacter une autorité de contrôle. Vous avez également le droit de déposer directement une plainte auprès d'une autorité de contrôle. Vous pouvez déposer une plainte auprès d'une autorité de contrôle en vous adressant à : _____________________________________________________________________________.
</p><div>
<p style="text-align:left;"><strong><u>Contact</u></strong><br>Si vous avez des questions, n'hésitez pas à contacter par courriel.
</p></div></div>
<p style="text-align:center;" class="documentTitle"><strong>www.litterama.ca Privacy Policy</strong>
</p>
<p style="text-align:center;">Type of website: Site vitrine<br>Effective date: 7th day of January, 2025
</p>
<p style="text-align:left;">www.litterama.ca (the "Site") is owned and operated by Littérama. Littérama is the data controller and can be contacted at: <br><a href="mailto:litteramamedia@gmail.com" style="color: black;">litteramamedia@gmail</a>
</p>
<p style="text-align:left;"><strong><u>Purpose</u></strong><br>The purpose of this privacy policy (this "Privacy Policy") is to inform users of our Site of the following: 
</p>
<ol start="1">
    <li value="1"><span>The personal data we will collect;</span><br>
    </li>
    <li value="2"><span>Use of collected data;</span><br>
    </li>
    <li value="3"><span>Who has access to the data collected;</span><br>
    </li>
    <li value="4"><span>The rights of Site users; and</span><br>
    </li>
    <li value="5"><span>The Site's cookie policy.</span><br>
    </li>
</ol>
<p style="text-align:left;">This Privacy Policy applies in addition to the terms and conditions of our Site.
</p><div>
<p style="text-align:left;"><strong><u>GDPR</u></strong><br>For users in the European Union, we adhere to the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016, known as the General Data Protection Regulation (the "GDPR"). For users in the United Kingdom, we adhere to the GDPR as enshrined in the Data Protection Act 2018.<br><br>We have not appointed a Data Protection Officer as we do not fall within the categories of controllers and processors required to appoint a Data Protection Officer under Article 37 of the GDPR. 
</p></div><div>
<p style="text-align:left;"><strong><u>Consent</u></strong><br>By using our Site users agree that they consent to:
</p>
<ol start="1">
    <li value="1"><span>The conditions set out in this Privacy Policy.</span><br>
    </li>
</ol>
<p style="text-align:left;">When the legal basis for us processing your personal data is that you have provided your consent to that processing, you may withdraw your consent at any time. If you withdraw your consent, it will not make processing which we completed before you withdrew your consent unlawful.
</p>
<p style="text-align:left;">You can withdraw your consent by: Via the cookie consent form.
</p></div><div>
<p style="text-align:left;"><strong><u>Legal Basis for Processing</u></strong><br>We collect and process personal data about users in the EU only when we have a legal basis for doing so under Article 6 of the GDPR. <br><br>We rely on the following legal basis to collect and process the personal data of users in the EU:
</p>
<ol start="1">
    <li value="1"><span>Users have provided their consent to the processing of their data for one or more specific purposes.</span><br>
    </li>
</ol></div>
<p style="text-align:left;"><strong><u>Personal Data We Collect</u></strong><br>We only collect data that helps us achieve the purpose set out in this Privacy Policy. We will not collect any additional data beyond the data listed below without notifying you first.<br>
</p>
<p style="text-align:left;"><u>Data Collected Automatically</u><br>When you visit and use our Site, we may automatically collect and store the following information:
</p>
<ol start="1">
    <li value="1"><span>Location.</span><br>
    </li>
</ol>
<p style="text-align:left;"><u>Data Collected in a Non-Automatic Way</u><br>We may also collect the following data when you perform certain functions on our Site:
</p>
<ol start="1">
    <li value="1"><span>First and last name; and</span><br>
    </li>
    <li value="2"><span>Email address.</span><br>
    </li>
</ol>
<p style="text-align:left;">This data may be collected using the following methods:
</p>
<ol start="1">
    <li value="1"><span>Via a contact form.</span><br>
    </li>
</ol>
<p style="text-align:left;"><strong><u>How We Use Personal Data</u></strong><br>Data collected on our Site will only be used for the purposes specified in this Privacy Policy or indicated on the relevant pages of our Site. We will not use your data beyond what we disclose in this Privacy Policy.<br><br>The data we collect automatically is used for the following purposes:
</p>
<ol start="1">
    <li value="1"><span>Website language; and</span><br>
    </li>
    <li value="2"><span>Statistics.</span><br>
    </li>
</ol>
<p style="text-align:left;">The data we collect when the user performs certain functions may be used for the following purposes:
</p>
<ol start="1">
    <li value="1"><span>For communication.</span><br>
    </li>
</ol>
<p style="text-align:left;"><strong><u>Who We Share Personal Data With</u></strong><br><u>Employees</u><br>We may disclose user data to any member of our organization who reasonably needs access to user data to achieve the purposes set out in this Privacy Policy.
</p><div>
<p style="text-align:left;"><u>Other Disclosures</u><br>We will not sell or share your data with other third parties, except in the following cases:
</p>
<ol start="1">
    <li value="1"><span>If the law requires it;</span><br>
    </li>
    <li value="2"><span>If it is required for any legal proceeding;</span><br>
    </li>
    <li value="3"><span>To prove or protect our legal rights; and</span><br>
    </li>
    <li value="4"><span>To buyers or potential buyers of this company in the event that we seek to sell the company.</span><br>
    </li>
</ol>
<p style="text-align:left;">If you follow hyperlinks from our Site to another site, please note that we are not responsible for and have no control over their privacy policies and practices.
</p></div>
<p style="text-align:left;"><strong><u>How Long We Store Personal Data</u></strong><br>User data will be stored until the purpose the data was collected for has been achieved.<br><br>You will be notified if your data is kept for longer than this period.
</p>
<p style="text-align:left;"><strong><u>How We Protect Your Personal Data</u></strong><br>We take the security of your data seriously. To protect your personal information, we use industry-standard encryption for data at rest and in transit. Access to our database is secured with strong authentication protocols, including role-based access control (RBAC) and multi-factor authentication (MFA). We also restrict access through IP whitelisting and secure our network with firewalls and VPNs. Regular backups are encrypted, and we maintain audit logs to monitor activities. Our system is kept up to date with the latest security patches, and we ensure that all user input is validated to prevent unauthorized access. By following these best practices, we work to safeguard your data from unauthorized access, disclosure, or loss.<br><br>While we take all reasonable precautions to ensure that user data is secure and that users are protected, there always remains the risk of harm. The Internet as a whole can be insecure at times and therefore we are unable to guarantee the security of user data beyond what is reasonably practical.
</p>
<p style="text-align:left;"><strong><u>Your Rights as a User</u></strong><br>Under the GDPR, you have the following rights:
</p>
<ol start="1">
    <li value="1"><span>Right to be informed;</span><br>
    </li>
    <li value="2"><span>Right of access;</span><br>
    </li>
    <li value="3"><span>Right to rectification;</span><br>
    </li>
    <li value="4"><span>Right to erasure;</span><br>
    </li>
    <li value="5"><span>Right to restrict processing;</span><br>
    </li>
    <li value="6"><span>Right to data portability; and</span><br>
    </li>
    <li value="7"><span>Right to object.</span><br>
    </li>
</ol><div>
<p style="text-align:left;"><strong><u>Children</u></strong><br>We do not knowingly collect or use personal data from children under 16 years of age. If we learn that we have collected personal data from a child under 16 years of age, the personal data will be deleted as soon as possible. If a child under 16 years of age has provided us with personal data their parent or guardian may contact our privacy officer.
</p></div>
<p style="text-align:left;"><strong><u>How to Access, Modify, Delete, or Challenge the Data Collected</u></strong><br>If you would like to know if we have collected your personal data, how we have used your personal data, if we have disclosed your personal data and to who we disclosed your personal data, if you would like your data to be deleted or modified in any way, or if you would like to exercise any of your other rights under the GDPR, please contact us.<br>
</p><div>
<p style="text-align:left;"><strong><u>Do Not Track Notice</u></strong><br>Do Not Track ("DNT") is a privacy preference that you can set in certain web browsers. We do not track the users of our Site over time and across third party websites and therefore do not respond to browser-initiated DNT signals.
</p></div><div>
<p style="text-align:left;"><strong><u>How to Opt-Out of Data Collection, Use or Disclosure</u></strong><br>In addition to the method(s) described in the <em>How to Access, Modify, Delete, or Challenge the Data Collected</em> section, we provide the following specific opt-out methods for the forms of collection, use, or disclosure of your personal data:
</p>
<ol start="1">
    <li value="1"><span>You can opt-out of the use of your personal data for marketing emails. You can opt-out by clicking "unsubscribe" on the bottom of any marketing email.</span><br>
    </li>
</ol></div><div>
<p style="text-align:left;"><strong><u>Cookie Policy</u></strong><br>A cookie is a small file, stored on a user's hard drive by a website. Its purpose is to collect data relating to the user's browsing habits. You can choose to be notified each time a cookie is transmitted. You can also choose to disable cookies entirely in your internet browser, but this may decrease the quality of your user experience.
</p>
<p style="text-align:left;">We use the following types of cookies on our Site:
</p>
<ol start="1">
    <li value="1"><u><span>Functional cookies</span></u><br>Functional cookies are used to remember the selections you make on our Site so that your selections are saved for your next visits; and<br>
    </li>
    <li value="2"><u><span>Analytical cookies</span></u><br>Analytical cookies allow us to improve the design and functionality of our Site by collecting data on how you access our Site, for example data on the content you access, how long you stay on our Site, etc.<br>
    </li>
</ol></div>
<p style="text-align:left;"><strong><u>Modifications</u></strong><br>This Privacy Policy may be amended from time to time in order to maintain compliance with the law and to reflect any changes to our data collection process. When we amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy Policy. We recommend that our users periodically review our Privacy Policy to ensure that they are notified of any updates. If necessary, we may notify users by email of changes to this Privacy Policy.
</p>
<p style="text-align:left;"><strong><u>Complaints</u></strong><br>If you have any complaints about how we process your personal data, please contact us through the contact methods listed in the <em>Contact Information</em> section so that we can, where possible, resolve the issue. If you feel we have not addressed your concern in a satisfactory manner you may contact a supervisory authority. You also have the right to directly make a complaint to a supervisory authority. You can lodge a complaint with a supervisory authority by contacting the _____________________________________________________________________________.
</p>
<p style="text-align:left;"><strong><u>Contact Information</u></strong><br>If you have any questions, concerns or complaints, you can contact us by e-mail.
</p><div class="LDCopyright" style="display: none;">
            <p>©2002-2025 LawDepot.ca®</p>
        </div>
    </div>
</div>
        </div>

</div>





<%- include("partials/footer.ejs") %>