<%- include("partials/header.ejs") %>
<title><%= t('terms.title') %> | Littérama</title>

<div class="content" style="padding: 10px;">
<div id="outputPage" class="ContractText" style="margin: 40px;">
    <div class="format-html">
<div data-exp="simple2" class="outputVersion1">
    <div class=" header">
<span class="content">Website Terms and Conditions</span>


<p style="text-align:center;"><strong><u>CONDITIONS GÉNÉRALES D'UTILISATION</u></strong>
</p>
<p style="text-align:left;">Les présentes conditions générales (les « Conditions générales ») régissent l’utilisation du site <strong>www.litterama.ca</strong> (le « Site »).<br>Ce site appartient et est géré par Littérama. Le type du site est le suivant : Site vitrine.<br><br>En utilisant ce site, vous indiquez que vous avez lu et compris les Conditions générales et que vous acceptez de les respecter en tout temps.<br><br>LES PRÉSENTES CONDITIONS GÉNÉRALES CONTIENNENT UNE CLAUSE DE RÉSOLUTION DES LITIGES QUI A UNE INCIDENCE SUR VOS DROITS EN MATIÈRE DE RÉSOLUTION DES LITIGES. VEUILLEZ LA LIRE ATTENTIVEMENT.
</p><div>
<p style="text-align:left;"><strong><u>Propriété intellectuelle</u></strong><br>Tout contenu publié et mis à disposition sur ce site est la propriété de Littérama et de ses créateurs. Cela comprend, sans y être limité, les images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
</p></div><div>
<p style="text-align:left;"><strong><u>Limitation de responsabilité</u></strong><br>Littérama et nos administrateurs, dirigeants, agents, employés, filiales et affiliés ne seront pas responsables des actions, réclamations, pertes, dommages, responsabilités et dépenses, y compris les frais de justice, résultant de votre utilisation du site.
</p></div><div>
<p style="text-align:left;"><strong><u>Exonération de responsabilité</u></strong><br>Sauf si la loi l'interdit, en utilisant ce site, vous tenez indemnes et dégagez de toute responsabilité Littérama et nos administrateurs, dirigeants, agents, employés, filiales et sociétés affiliées de toute action, réclamation, perte, dommage, responsabilité et dépense, y compris les frais de justice, résultant de votre utilisation de notre site ou de votre violation des présentes Conditions générales.
</p></div><div>
<p style="text-align:left;"><strong><u>Lois applicables</u></strong><br>Ces Conditions générales sont soumises aux lois applicables de la province du Québec.
</p></div><div>
<p style="text-align:left;"><strong><u>Divisibilité</u></strong><br>Si, à tout moment, l’une des dispositions énoncées dans les présentes Conditions générales est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions seront considérées comme nulles et seront retirées des présentes Conditions générales. Toutes les autres dispositions ne seront pas touchées par cette suppression et le reste des présentes Conditions générales sera toujours considéré comme valide.
</p></div><div>
<p style="text-align:left;"><strong><u>Modifications</u></strong><br>Les présentes Conditions générales peuvent être modifiées de temps à autre afin de rester conformes à la loi et de refléter tout changement dans la manière dont nous exploitons notre site et dans la manière dont nous attendons des utilisateurs qu'ils se comportent sur notre site. Nous informerons les utilisateurs par courriel des modifications apportées aux présentes Conditions générales ou publierons un avis sur notre site.
</p></div><div>
<p style="text-align:left;"><strong><u>Contact</u></strong><br>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes : <a href="mailto:litteramamedia@gmail.com" style="color: black;">litteramamedia@gmail.com</a><br>
</p>
<p style="text-align:left;">Vous pouvez également nous contacter par le biais du formulaire de retour d'expérience disponible sur notre site.
</p></div>
<p style="text-align:right;">Date d'entrée en vigueur : 7 janvier 2025
</p></div>
<p style="text-align:center;"><strong><u>TERMS AND CONDITIONS</u></strong>
</p>
<p style="text-align:left;">These terms and conditions (the "Terms and Conditions") govern the use of <strong>www.litterama.ca</strong> (the "Site"). This site is owned and operated by Littérama. This site is a showcase website.<br><br>By using this site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.
</p><div>
<p style="text-align:left;"><strong><u>Intellectual Property</u></strong><br>All content published and made available on our site is the property of Littérama and the site's creators. This includes, but is not limited to images, text, logos, documents, downloadable files and anything that contributes to the composition of our site.
</p></div><div>
<p style="text-align:left;"><strong><u>Limitation of Liability</u></strong><br>Littérama and our directors, officers, agents, employees, subsidiaries, and affiliates will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the site.
</p></div><div>
<p style="text-align:left;"><strong><u>Indemnity</u></strong><br>Except where prohibited by law, by using this site you indemnify and hold harmless Littérama and our directors, officers, agents, employees, subsidiaries, and affiliates from any actions, claims, losses, damages, liabilities and expenses including legal fees arising out of your use of our site or your violation of these Terms and Conditions.
</p></div><div>
<p style="text-align:left;"><strong><u>Applicable Law</u></strong><br>These Terms and Conditions are governed by the laws of the Province of Quebec.
</p></div><div>
<p style="text-align:left;"><strong><u>Severability</u></strong><br>If at any time any of the provisions set forth in these Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions will still be considered valid.
</p></div><div>
<p style="text-align:left;"><strong><u>Changes</u></strong><br>These Terms and Conditions may be amended from time to time in order to maintain compliance with the law and to reflect any changes to the way we operate our site and the way we expect users to behave on our site. We will notify users by email of changes to these Terms and Conditions or post a notice on our site.
</p></div><div>
<p style="text-align:left;"><strong><u>Contact Details</u></strong><br>Please contact us if you have any questions or concerns. Our contact details are as follows: <a href="mailto:litteramamedia@gmail.com" style="color: black;">litteramamedia@gmail.com</a> 
</p>
<p style="text-align:left;">You can also contact us through the feedback form available on our site.
</p></div>
<p style="text-align:right;">Effective Date: 7th day of January, 2025
</p><div class="LDCopyright" style="display: none;">
        <p>©2002-2025 LawDepot.ca®</p>
    </div>
</div>
</div>
    </div>

</div>




<%- include("partials/footer.ejs") %>