body{
  font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
}
a{
  color: white;
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*******HEADER************/
header{
  background-color: black;
  padding: 10px;
  
}
div.container-fluid{
  margin-left: 52px;
  margin-right: 52px;
}

/**********HOME PAGE***************/
.hero-section{
  overflow: hidden;
  position: relative;
  height: 655px;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.textbox{
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 100px;

}
.hero-title{
  font-size: 4.3rem;
  line-height: 65px;
  margin-bottom: 3px;
  font-weight: 800;
  text-shadow: 1px 1px 30px #000000;
}
.textbox-inner.px-4 > p{
  font-size: 1.3rem;
}
div.second-section{
  display: flex;
  justify-content: center;
  padding: 20px;

}
div.second-section> div.textbox-inner{
  width: 550px;
  margin: 40px 20px 40px 20px;
}
div.third-section{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 35px;
  color: white;
  background-image: url("/images/quotes.png");
  background-position-x: center;
  background-position-y: top 23%;
  background-repeat: no-repeat;
  background-size: 10rem;
}
div.third-section> div.textbox-inner{
  font-size: larger;
  width: 420px;
  margin: 20px;
}

/*********ABOUT PAGE***************/
div.header-about{
  padding: 20px;
  text-align: center;
}
div.innerbox-about-title{
  margin: 30px;
}
.about-description{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.innerbox-description{
  margin: 30px;
  text-align: center;
  font-size: larger;
}
div.row-about{
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
  justify-content: center;
}
div.column-mission{
  flex: 50%;
  margin: 30px;
  border-style: solid;
}
div.column-mission> .inner-column.mission{
text-align: center;
}
div.column-vision{
  flex: 50%;
  margin: 30px;
  border-style: solid;
}
div.column-vision> .inner-column.vision{
  text-align: center;
}
div.row-slogan{
  padding: 20px;
  background-color: #2d9ed3;
}
div.innerbox-about.slogan{
  text-align: center;
  margin: 30px;
}


/*********CONTACT PAGE*****************/
div.row-contact{
  display: flex;
}
div.column-contact{
  flex: 25%;
  padding: 15px;
}
div.column-contact.form{
  color: white;
  background-color: #1B698C;
  background-image: url(/images/LOGO_2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;

}
div.column-contact.form> form{
  margin: 52px;
}
div.column-contact> div{
  margin-bottom: 45px;
}
div.company_socials> a{
  margin-right: 10px;
}
div.company_socials img{
  width: 2rem;
}


/*********Footer****************/
footer{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
div.inner-footer{
  display: flex;
  margin: 30px;
  padding: 10px;
}
a>img.logo-footer{
  width: 15rem;
}
div.inner-footer div.company_socials{
  display: flex;
  flex: auto;
  justify-content: end;
}
div.social_box>a{
  margin-left: 5px;
}
div.legal{
  opacity: 0.6;
}
