body{
  font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
}
a{
  color: white;
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*******Header************/
header{
  background-color: black;
  padding: 10px;
  
}
div.container-fluid{
  margin-left: 52px;
  margin-right: 52px;
}
nav> a{
  display: block;
}

/**********Home page***************/
.hero-section{
  overflow: hidden;
  position: relative;
}
video{
  width: 100%;
}
div.textbox{
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 150px;

}
.hero-title{
  font-size: 4.3rem;
  line-height: 60px;
  margin-bottom: 3px;
  font-weight: 800;
  text-shadow: 1px 1px 30px #000000;
}
div.second-section{
  padding: 15px;
  margin-left: 52px;
  margin-right: 52px;
}

/*********Contact*****************/
div.row-contact{
  display: flex;
}
div.column-contact{
  flex: 25%;
  padding: 15px;
}
.column-contact.form{
  color: white;
  background-color: #004466;
  background-image: url(/images/LOGO_2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 30rem;

}



/*********Footer****************/
footer{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
