body{
  font-family: "Dosis", sans-serif;
    background-color: white;
}
a{
  color: white;
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*******Header************/
header{
  background-color: #004466 ;
  border-radius: 5px;
  
}
nav> a{
  display: block;
}

/**********Home page***************/
.hero{
  position: relative;
  margin: auto 0 auto 0;
  height: 85vh;
  padding: 24px 40px 0 40px;
  overflow: hidden;
}

div.hero>img{
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.textbox-container{
  width: 1280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)       translateY(-55%);
}
div.textbox.inner{
  max-width: 500px;
  text-align: center;
  position: relative;
  top: 0;
  margin: auto;
}


/*********Footer****************/
footer{
  background-color: #004466;
  text-align: center;
  color: white;
}
